<!doctype html>
<html>

<head>
  <title>Carmelo Anthony Fan Site</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
  <link rel="stylesheet" href="index.css">
</head>

<body>
  <div class="container">

    <div class="jumbotron text-center">
      <h1><img src="img/staymelo.png" alt="Carmelo Anthony Logo"></h1>
      <img src="img/melo.jpg" alt="Carmelo Anthony Profile Photo">

      <p></p>

      <a href="/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a>
      <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span>Signup</a>

    </div>


  </div>
</body>

</html>